/* SignUp.css */

.sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-container {
  margin-top: 30px;
}

.logo-image {
  width: 250px; /* Adjust width as needed */
  height: auto;
}

.sign-up-container {
  border: 2px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px; /* Adjust spacing between logo and form */
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px; /* Space between label and input */
  text-align: left; /* Ensure labels are left-aligned */
}

input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 10px;
}

button[type="submit"] {
  background-color: green;
  color: yellow;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  display: block;
  margin-top: 20px; /* Adjust button spacing */
}

.sign-up-title {
  font-size: 24px;
  color: green;
  margin-bottom: 20px;
}

.social-buttons {
  margin-top: 20px;
}

.or-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.or-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.password-criteria {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 80px;
}

.password-criteria label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: green;
}

.password-criteria label:last-child {
  color: black;
}

.password-criteria input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
}

.password-criteria input[type="checkbox"]:checked {
  background-color: green;
}

.password-criteria input[type="checkbox"]:checked::after {
  content: '✓';
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.password-criteria label:last-child input[type="checkbox"]:checked {
  background-color: black;
}

.password-criteria label:last-child input[type="checkbox"]:checked::after {
  color: white; 
}

.social-buttons-container {
  display: flex;
  flex-direction: column;
}

.facebook-button, .google-button {
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 300px; 
  font-size: bold;
}

.facebook-button {
  background-color: blue;
  color: white;
}

.google-button {
  background-color: white;
  color: black;
  border: 2px solid green;
}

.social-buttons span {
  margin: 0 10px;
}

.form-group label {
  margin-left: 10px;
}

.login-link {
  font-size: 12px; 
  margin-left: 80px;
}

.login-link a {
  color: green; 
  text-decoration: none;
}

.shop-now-button {
  text-align: center;
  margin-top: 20px;
}

.shop-now-btn {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

.shop-now-btn i {
  margin-left: 10px;
}

.show-password {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: green;
}

.show-password input[type="checkbox"]:checked {
  background-color: green;
}

.show-password input[type="checkbox"]:checked::after {
  content: '✓';
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-password input[type="checkbox"] {
  margin-right: 10px; 
  background-color: #fff;
  border: 2px solid green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}

.show-password input[type="checkbox"]:checked {
  background-color: green; 
}

