.reset-confirmation-wrapper {
  text-align: center;
  padding: 20px;
}

.confirmation-header {
  color: black;
}

.confirmation-subheader {
  color: black;
  margin: 20px 0;
}

.email-address {
  color: #729343;
}

.confirmation-image-container {
  margin: 20px 0;
}

.confirmation-image {
  width: 250px; /* Adjust size as needed */
  height: auto;
}

.back-to-login {
  margin-top: 20px;
}

.login-link {
  text-decoration: none;
}

.login-button {
  background-color: #729343;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
  margin-left: -120px;
}

.login-button:hover {
  background-color: #5c7f2f;
}

