/* HomePage.css */

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the height of the viewport */
    background-color: #fff; /* Background color for the entire page */
    padding: 20px;
}

.top-bar {
    background-color: #fff; /* White background */
    padding: 10px 20px;
    margin: 10px 20px; /* Reduced margin top and bottom */
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-right: 10px; /* Margin between logo and Header */
}

.buttons {
    display: flex;
    gap: 10px; /* Adjusted gap between buttons */
}

.green-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.green-button:hover {
    background-color: #45a049;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 20px; /* Adjusted margin */
    margin-top: -50px;
    margin-left: 300px;
    width: 750px;
}

.nav-item {
    text-decoration: none;
    color: green; /* Default color for nav items */
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative; /* For dropdown positioning */
    display: flex;
    align-items: center; /* Ensure items are vertically centered */
}

.nav-item:hover {
    color: #333; /* Hover color for nav items */
}

.active {
    font-weight: bold; /* Bold font for active nav item */
    color: black !important; /* Text color for active nav item */
    background-color: #4CAF50; /* Background color for active nav item */
}

/* Dropdown content */
.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #fff; /* Match background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position below the nav item */
    left: 0; /* Align to the left of the nav item */
}

.dropdown-content .dropdown-item {
    color: green; /* Default color for dropdown items */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content .dropdown-item:hover {
    background-color: #ddd; /* Hover background for dropdown items */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer styling */
.footer {
    margin-top: auto; /* Push the footer to the bottom */
    margin-bottom: 50px; /* Added bottom margin to ensure dropdown visibility */
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Hero Section */
.hero {
    position: relative;
    overflow: hidden;
    height: 700px; /* Adjust height as needed */
    margin-top: 20px;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added shadow for better visibility */
    transition: transform 1s ease-in-out;
}

.hero-slide.active {
    transform: translateX(-100%);
}

.hero-slide.previous {
    transform: translateX(-200%);
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-description {
    font-size: 18px;
    max-width: 60%;
}

/* Navigation Icons */
.hero-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.hero-navigation button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
}

.hero-navigation button:hover {
    color: #4CAF50;
}

/*Feature Section*/

.features-section {
    padding: 50px 0;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

.features-section h2 {
    font-size: 3.5rem;
    color: green;
    text-align: left;
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

.features-description {
    font-size: 2.2rem;
    color: #666;
    text-align: left;
    margin-bottom: 30px;
}

.feature-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.feature-item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item .feature-icon {
    font-size: 3rem;
    color: #28a745; /* Green color */
    text-align: center;
    margin-bottom: 20px;
}

.feature-item .feature-icon svg {
    margin-bottom: 10px;
}

.feature-item h5 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
    color: #666;
    text-align: center;
    line-height: 1.6;
}

.feature-item a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.feature-item a:hover {
    color: #28a745; /* Green color */
}


/* Latest Section */
.latest-section {
    padding: 50px 0;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    background-color: #f9f9f9; /* Light grey background */
}

.latest-section h2 {
    font-size: 3.5rem;
    color: green;
    text-align: left;
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

.latest-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap; /* Prevent wrapping */
}

.latest-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 250px; /* Ensure each item has a minimum width */
    margin-right: 20px; /* Adjust spacing between items */
    margin-bottom: 20px;
}

.latest-item .latest-image {
    width: 80px; /* Adjust the size of the image */
    height: 80px; /* Adjust the size of the image */
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.latest-item .latest-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-item h5 {
    font-size: 1.5rem;
    color: green;
    margin-bottom: 5px;
}

.latest-item p {
    font-size: 1rem;
    color: #666;
}

/* Testimonials Section */
.testimonials-section {
    padding: 20px 0;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center; /* Center align the content */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.testimonials-section h2 {
    font-size: 3.5rem;
    color: green;
    text-align: center; /* Center align the title */
    margin-bottom: 30px;
    text-decoration: underline;
    position: sticky; /* Keep the title fixed */
    top: 0; /* Position at the top */
    background-color: #fff; /* Background color for clarity */
    z-index: 1; /* Ensure title is above testimonials */
    width: 100%; /* Full width */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
}

.testimonials-container {
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: center;
    gap: 20px; /* Adjust spacing between testimonials */
    padding: 10px; /* Add padding for space */
    margin-left: 0; /* Reset margin */
    margin-right: 0; /* Reset margin */
    padding-left: 10px; /* Adjust padding for left */
    padding-right: 10px; /* Adjust padding for right */
}

.testimonial-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    align-items: center; /* Center align items */
    padding: 20px;
    min-width: 250px; /* Adjust minimum width of each testimonial item */
}

.testimonial-item:first-child {
    margin-left: -90px; /* Adjust margin for the first item */
}

.testimonial-item .testimonial-image {
    width: 80px; /* Adjust size of testimonial image */
    height: 80px; /* Adjust size of testimonial image */
    border-radius: 50%; /* Make image circular */
    object-fit: cover;
    background-color: green; /* Set background color of the image */
    margin-bottom: 20px; /* Adjust spacing */
}

.testimonial-item .testimonial-content {
    text-align: center; /* Center align content */
}

.testimonial-item .quote-icon {
    font-size: 2rem;
    color: green; /* Adjust quote icon color */
    margin-bottom: 10px;
}

.testimonial-item p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.testimonial-item h5 {
    font-size: 1.5rem;
    color: green; /* Adjust testimonial name color */
    margin-bottom: 0;
}


