.button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background-color: darkgreen;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button i {
  margin-left: 10px;
}

