/* ResetPassword.css */

.reset-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px;
}

.smart-mavuno-logo {
  width: 200px; /* Adjust width as needed */
  height: auto;
  margin-bottom: -50px;
  margin-top: -50;
}

.reset-password-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.reset-password-instructions {
  color: #666;
  margin-bottom: 20px;
}

.reset-password-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.reset-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reset-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-button {
  width: 210px;
  padding: 10px;
  font-size: 16px;
  background-color: #729343;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #5c772d;
}

.message {
  margin-top: 10px;
  color: #666;
}

.back-to-login {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  margin-left: 140px;
}

.login-link {
  color: #729343;
  text-decoration: none;
  margin-left: -2px;
}

.confirmation-link {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.confirmation-link a {
  color: #729343;
  text-decoration: none;
}

.confirmation-link a:hover {
  text-decoration: underline;
}

