/* src/components/Footer/Footer.css */

.footer-container {
  padding: 20px;
}

.newsletter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000; /* Black border */
  border-radius: 10px; /* Rounded corners */
  width: 700px;
  position: absolute; /* Position the newsletter section absolutely */
  top: -50px; /* Adjust the top position to overlap with the footer */
  left: 50%; /* Position it in the middle of the container */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1; /* Ensure it appears above the footer content */
  margin-top: 100px;
}

.newsletter-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.vertical-line {
  border-left: 1px solid #000; /* Black vertical line */
  height: 100px;
  margin: 0 20px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-content p {
  margin-bottom: 10px; /* Space between paragraph and form */
  color: green;
  margin-left: 70px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.input-icon-wrapper {
  position: relative;
}

.email-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black; /* Email icon color */
  pointer-events: none; /* Prevents clicking on the icon */
}

.newsletter-input {
  padding: 10px 10px 10px 30px; /* Adjust padding to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
  background-color: #e0f7fa; /* Placeholder background color */
  color: black;
}


.newsletter-input::placeholder {
  color: green; /* Placeholder text color */
}

.subscribe-button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: darkgreen;
}

.footer-main {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #f0fff0;
  position: relative; /* Ensure the container is relative for absolute positioning to work */
  z-index: 0; /* Set a lower z-index to keep it below the newsletter */
  margin-top: 165px;
  border-radius: 10px;
}

.footer-container {
  position: relative; /* Ensure the container is relative for absolute positioning to work */
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-links i {
  margin-right: 10px;
  color: #333;
  border-radius: 50%;
}

.social-links li {
  color: green;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #f0fff0;
}

.app-download {
  width: 150px;
}
